%navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
%navbar-nav {
	list-style-type: none;
}
%nav-item {
	display: inline-block;
}
%nav-link {
	text-decoration: none;
	display: block;
}