.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.navbar .navbar-nav {
  list-style-type: none; }

.navbar .navbar-nav .nav-item {
  display: inline-block; }

.navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  display: block; }

* {
  padding: 0;
  margin: 0; }

.navbar {
  background: url("../img/bg-menu.png") repeat; }
  .navbar .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 10px 5px;
    border-width: 1px;
    border-right: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #4f7cc3) 1 100%; }
  .navbar .navbar-nav .nav-item .nav-link:hover {
    background: #557ebb; }
  .navbar .navbar-nav .nav-item.active {
    background: #557ebb; }
  .navbar .navbar-brand {
    margin: 0 10px; }
