$bg: #222222;
$firstColor: white;
$firstFont: SFD-Medium;
* {
	margin: 0;
	padding: 0;
}
.navbar {
	height: 40px;
	width: 100%;
	background-color: $bg;
	display: flex;
	align-items: center;
	justify-content: center;
	.navbar-brand {
		margin-right: 30px;
	}
	.navbar-nav {
		list-style-type: none;
		.nav-item {
			display: inline-block;
			a {
				text-decoration: none;
				color: $firstColor;
				font-size: 15px;
				font-family: $firstFont;
				padding: 0 8px;
			}
		}
	}

}


