@font-face {
  font-family: 'SFD-Bold';
  font-display: auto;
  src: url("../font/SFD-Heavy/SFD-Bold.eot");
  src: url("../font/SFD-Heavy/SFD-Bold.eot") format("embedded-opentype"), url("../font/SFD-Heavy/SFD-Bold.woff2"), url("../font/SFD-Heavy/SFD-Bold.woff") format("woff"), url("../font/SFD-Heavy/SFD-Bold.ttf") format("truetype"), url("../font/SFD-Heavy/SFD-Bold.svg#SFD-Bold") format("svg"); }
@font-face {
  font-family: 'SFD-SemiBold';
  font-display: auto;
  src: url("../font/SFD-Heavy/SFD-Bold.eot");
  src: url("../font/SFD-Heavy/SFD-Bold.eot") format("embedded-opentype"), url("../font/SFD-Heavy/SFD-Bold.woff2"), url("../font/SFD-Heavy/SFD-Bold.woff") format("woff"), url("../font/SFD-Heavy/SFD-Bold.ttf") format("truetype"), url("../font/SFD-Heavy/SFD-Bold.svg#SFD-Bold") format("svg"); }
* {
  padding: 0;
  margin: 0; }

.catmenu {
  margin: 30px auto;
  width: 320px;
  padding: 20px 20px; }
  .catmenu__name {
    position: relative;
    padding-bottom: 10px; }
    .catmenu__name h2 {
      font-size: 24px;
      padding-left: 15px;
      font-family: 'SFD-Bold'; }
    .catmenu__name:before {
      content: '';
      width: 5px;
      height: 20px;
      background: #ff6115;
      position: absolute;
      top: 5px; }
  .catmenu__content .main-content a img {
    width: 100%; }
  .catmenu__content .main-content .main-title {
    font-family: 'SFD-Bold';
    font-size: 20px;
    line-height: 24px;
    color: #2d2d2d; }
  .catmenu__content .other-news {
    margin-top: 20px;
    border-top: 1px solid #e9e9e9; }
    .catmenu__content .other-news__list-group {
      list-style-type: none; }
      .catmenu__content .other-news__list-group .list-item {
        clear: both;
        padding-top: 15px;
        height: 60px; }
        .catmenu__content .other-news__list-group .list-item a {
          float: left;
          margin-right: 15px; }
          .catmenu__content .other-news__list-group .list-item a img {
            width: 60px;
            height: 60px;
            display: block; }
        .catmenu__content .other-news__list-group .list-item h4 {
          font-family: 'SFD-SemiBold';
          color: #2d2d2d;
          line-height: 18px;
          font-size: 15px;
          display: block; }
