@font-face {
  font-family: 'SFD-Bold';
  font-display: auto;
  src: url("../font/SFD-Heavy/SFD-Bold.eot");
  src: url("../font/SFD-Heavy/SFD-Bold.eot") format("embedded-opentype"), url("../font/SFD-Heavy/SFD-Bold.woff2"), url("../font/SFD-Heavy/SFD-Bold.woff") format("woff"), url("../font/SFD-Heavy/SFD-Bold.ttf") format("truetype"), url("../font/SFD-Heavy/SFD-Bold.svg#SFD-Bold") format("svg"); }
@font-face {
  font-family: 'SFD-Medium';
  font-display: auto;
  src: url("../font/SFD-Medium//SFD-Medium.eot");
  src: url("../font/SFD-Medium/SFD-Medium.eot") format("embedded-opentype"), url("../font/SFD-Medium/SFD-Medium.woff2"), url("../font/SFD-Medium/SFD-Medium.woff") format("woff"), url("../font/SFD-Medium/SFD-Medium.ttf") format("truetype"), url("../font/SFD-Medium/SFD-Medium.svg#SFD-Medium") format("svg"); }
* {
  margin: 0;
  padding: 0; }

.content {
  overflow-y: scroll;
  /* Handle */
  height: 331px;
  width: 314px;
  margin: 0 auto; }
  .content::-webkit-scrollbar {
    width: 7px; }
  .content::-webkit-scrollbar-track {
    border-radius: 10px; }
  .content::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 7px; }
  .content .list-group {
    list-style-type: none;
    height: 100%; }
    .content .list-group .list-item {
      opacity: 0.8;
      clear: both;
      padding: 15px;
      border-bottom: 1px solid #f1f1f1; }
      .content .list-group .list-item .li__left {
        float: left;
        margin-right: 10px; }
        .content .list-group .list-item .li__left img {
          width: 45px;
          height: 45px; }
      .content .list-group .list-item .li__right h3 {
        font-family: 'SFD-Bold';
        line-height: 16px;
        color: #333;
        font-size: 13px;
        margin-bottom: 3px; }
      .content .list-group .list-item .li__right p {
        font-family: 'SFD-Medium';
        font-size: 12px;
        color: #888; }
    .content .list-group .list-item.active {
      opacity: 1;
      background-color: #f1f1f1; }
