
@font-face {
  font-family: 'JosefinSans-BoldItalic';
  src: url('JosefinSans-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('JosefinSans-BoldItalic.woff') format('woff'), url('JosefinSans-BoldItalic.ttf')  format('truetype'), url('JosefinSans-BoldItalic.svg#JosefinSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
