
@font-face{
    font-family: josefinSans-bold;
    src: url(font/josefin-sans/JosefinSans-Bold.ttf);
}
@font-face{
    font-family: JosefinSans-SemiBold;
    src: url(font/josefin-sans/JosefinSans-SemiBold.ttf);
}
@font-face{
    font-family: JosefinSans-Regular;
    src: url(font/josefin-sans/JosefinSans-Regular.ttf);
}
@font-face{
    font-family: openSans-regular;
    src: url(font/open-sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: OpenSans-Semibold;
    src: url(font/open-sans/OpenSans-Semibold.ttf);
}
@font-face{
    font-family: OpenSans-bold;
    src: url(font/open-sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: ProximaNova-Bold;
    src: url(font/proxima_ssv/proxima_ssv/Proxima\ Nova\ Bold.otf);
}

.page{
    height: auto;
    width: 100%;
}
/*heder*/
.header{
    height: 66px;
    width: 100%;
    background-color: #eaeaea;
}
.header1{
    display: flex;
    align-items: center;
    padding-right: 7.6%;
    padding-left: 7.6%;
}
ul.header-list{
    margin-left: 480px;
    
    list-style: none;
    display: inline;
    text-align: center;
}
li.header-list-item{
    
    margin-left: 20px;
    display: inline;
    font-family: openSans-regular;
}
.logo{
    height: 66px;
    width: 19,5%;
}
.link1{
    text-decoration: none;
    font-size: 18pt;
        
}
.link2{
    color: #4160a7;
    font-weight: bold;
    
}
.link3{
    color: black;
}
/*banner*/
.main-banner{
    background: url("imgg/bg_header.png") top center ;
    width: 100%;
    height: 550px;
    clear:both;
    margin: 0;
    padding:0;
    position: relative;
    
}
.text-area{
    text-align: center;

}
.main-slogan{
    padding-right: 11%;
    padding-left: 11%;
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 30pt;
    font-family: josefinSans-bold;
    font-style: italic;
}
.slogan{
    padding-right: 19%;
    padding-left: 19%;
    text-align: center;
    color: white;
    font-size: 16pt;
    padding-top: 20px;
    font-family:OpenSans-Semibold;
}
/*group1*/
.group1{
    width: 100%;
}
.mid-ls{
    color: white;
    border-radius: .5rem;
    border: 0px solid;
    padding-left: 1%;
    padding-top: 8px ;
    padding-bottom: 8px;
    padding-right: 1%;
    background-color:#4160a7;
    left: 580px;
    top: 400px;
    position: absolute;
    z-index: 1000 ;
    font-family: openSans-regular;
    font-weight: bold;
    font-size:18pt
}
.register{
    height: 108px;
    width:100%;
    background-color: #4160a7;  
}
.register-now{
    width:40%;
    float: left;
    text-align: right;
    padding-top: 40px;
    font-size: 27pt;
    font-family: josefinSans-bold;
    font-style: italic;
}
.input{
    padding-left: 20%;
    width: 40%;
    float:left;
    font-family: JosefinSans-SemiBold;
    font-size: 13.3pt;
}
.name{
    color: black;
    border-radius: .5rem;
    border: 0px solid;
    padding-left: 1%;
    padding-top: 8px ;
    padding-bottom: 8px;
    vertical-align: middle;
    margin-top: 15px;
    width: 29%;
    float: left;
    background-color: white;
}
.email{
    border-radius: .5rem;
    border: 0px solid;
    padding-left: 1%;
    padding-top: 8px ;
    padding-bottom: 8px;
    margin-left: 10%;
    margin-top: 15px;
    margin-right: 30%;
    width: 29%;
    float: left;
    background-color: white;
}
.phone{
    border-radius: .5rem;
    border: 0px solid;
    padding-left: 1%;
    padding-top: 8px ;
    padding-bottom: 8px;
    margin-top: 15px;
    width: 44%;
    float: left;
    background-color: white;
}
.send{
    border-radius: .5rem;
    border: 0px solid;
    padding-left: 1%;
    padding-top: 8px ;
    padding-bottom: 8px;
    margin-left: 10%;
    margin-right: 30%;
    color: white;
    margin-top: 15px;
    width: 14%;
    float: left;
    background-color:black;
}
/*group2*/
.group2{
    margin-left: 9.5%;
    margin-right: 9.5%;
   
}
.bg_group2{
    background: url("imgg/bg_gr2.png") bottom right;
    width: 100%;
    height: 580px;
}
.gr2-main-title{
    margin-left: 6%;
    font-style: italic;
    font-size: 30pt;
    padding-top: 60px;
    font-family: josefinSans-bold;
}
.gr2-block{
    display: inline;
}
.gr2-block1{
    box-shadow : 0px 0px 5px rgb(199, 197, 197);
    margin-top: 75px;
    border-radius: 0.5rem ;
    background-color:white;
    padding-top: 64px;
    float: left;
    width: 24%;
    height: 300px;

}
.gr2-block2{
    box-shadow : 0px 0px 5px rgb(199, 197, 197);
    margin-top: 50px;
    border-radius: 1rem ;
    background-color:white;
    padding-top: 64px;
    float: left;
    width: 24%;
    height: 300px;
}
.gr2-block3{
    box-shadow : 0px 0px 5px rgb(199, 197, 197);
    margin-top: 25px;
    border-radius: 1rem ;
    background-color:white;
    padding-top: 64px;
    float: left;
    width: 24%;
    height: 300px;
}
.gr2-block4{
    box-shadow : 0px 0px 5px rgb(199, 197, 197);
    border-radius: 1rem ;
    background-color:white;
    padding-top: 64px;
    float: left;
    width: 24%;
    height: 300px;
}
.gr2-block-title{
    font-family: ProximaNova-Bold;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15.5pt;
}
.gr2-block-content{
    height: 70%;
    font-size: 10.8pt;
    padding-top: 12px;
    line-height: 1.7;
    letter-spacing: 0.3;
    padding-left: 10px;
    padding-right: 20px;
    overflow: hidden;
    font-family:openSans-regular;

}
.gr2-end-title{
    margin-left: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-top: 140px;

}
.end-title{
    font-size: 27pt;
    font-family: josefinSans-bold;
    font-style: italic ;
}
.end-content{
    margin-top: 20px;
    font-size: 16pt;
    font-family: josefinSans-bold;
    font-style: italic ;
}
/*why chose us*/
.why-chose-us{
    padding-top : 180px;
    padding-left: 16%;
    padding-right: 16%;
    height: 400px;
    background-color: #f5f5f5;
}
.ul-why-chose-us{
    list-style: none;
}
.li-why-chose-us{
    float: left;
    width: 25%;
    text-align: center;
}
.wcu_title{
    padding-top: 15px;
    font-family: josefinSans-bold;
    font-size: 15pt;
    color:#0a0d1b;
}
.wcu_image{
    width: 150px;
    height: 150px;
}
/*footer*/
.footer{
    margin-left: 15%;
    margin-right: 9%;
    height: 357px;
}
.footer-top{
    padding-top: 51px;
    padding-right: 0px;
    display: inline-block;
}
.footer-top-col1{
    padding-right: 40px;
    width: 230px;
    float: left;
}
.footer-top-col2{
    padding-right: 40px;
    width: 140px;
    float: left;
}
.footer-top-col3{
    padding-right: 40px;
    width: 255px;
    float: left;
}
.footer-top-col4{
    width: 220px;
    float: left;
}
.footer-top-title{
    letter-spacing: 0.25px;
    font-size: 17.8pt;
    padding-bottom: 15px;
    font-family: josefinSans-bold;;
    color:#2f3240;
}
.footer-top-image1{
    width: 220px;
    height: 60px;
    padding-bottom: 15px;
}
.footer-top-content{
    width: 100%;
    text-align:justify ;
    line-height: 18px;
    color:#2f3240;
    font-family: openSans-regular;
    font-size:10.66pt;
}
.list-col2 {
    padding-left: 30px;
    list-style: url("imgg/footer-list.PNG");
}
.list-item-col2{
    font-family: openSans-regular;
    font-size:10.66pt;
    padding-top: 20px;
    line-height: 20px;
    color:#2f3240;
    letter-spacing: 0.25px;
}
.list-item-col3{
    font-family: openSans-regular;
    font-size:10.66pt;
    padding-top: 15px;
    display: inline-block;
    color:#2f3240;
}
.picture{
    width: 50px;
    height: auto ;
    float: left;
}
.content-col3{
    float: left;
    width: 80%;
    letter-spacing: 0.25px;
    line-height: 25px;
}
.list-col4{
    padding-top: 15px;
}
.list-item-col4{
    font-family: openSans-regular;
    font-size:10.66pt;
    display: inline-block;
    padding-bottom: 15px;
    color:#2f3240;
}
.picture4{
    width : 22px ;
    float: left;
}
.content-col4{
    width: 80%;
    float: left;
    padding-left: 10%;
}
.footer-bottom{
    width: 100%;
    padding-top: 50px;
    display: inline-block
}
.col-title{
    width: 84%;
    float: left;
    font-size: 20px;
    color: #2f3240;
    font-size: 12px;
    font-family: JosefinSans-Regular;
}
.end-picture{
    
    float: left
}