
$color1: #ffffff;
$font: opensans;
@font-face{
    font-family: opensans;
    src: url(../font/open-sans/OpenSans-Regular.ttf);
}
.picture{
    width: 1300px;
    height:auto;
}
.container{
    background-image: url("../images/background-menu3.PNG");
    background-repeat: repeat-x ;
    width: 100%;
    display: flex;
	align-items: center;
    justify-content: center;
    height:  25px;
    .container-logo{
        margin-right:4px;
        height: 25px;
        .logo{
            height: 25px;
        }
    }
    .container-list{
        list-style: none;
        padding-left: 0;
        .container-list-item{
            display: inline-block;
            
            a {
				text-decoration: none;
				color: $color1;
                font-size: 11px;
				font-family: tahoma;
				padding: 8px 4px;
				display: block;
			}
        }
    }   
    }