*{
    margin: 0;
    padding: 0;
}
.picture{
    width: 1302px;
    height: auto;
    
}
.container {
    background-color: #a70e1a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .container-logo {
    margin-right: 10px;
}
.container .container-list {
    list-style: none;
}
.container .container-list .container-list-item {
    display: inline-block;
    padding: 8px 8px;
}
.container .container-list .container-list-item a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: SFD-Medium;
}
