@font-face {
  font-family: 'SFD-Bold';
  font-display: auto;
  src: url("../font/SFD-Heavy/SFD-Bold.eot");
  src: url("../font/SFD-Heavy/SFD-Bold.eot") format("embedded-opentype"), url("../font/SFD-Heavy/SFD-Bold.woff2"), url("../font/SFD-Heavy/SFD-Bold.woff") format("woff"), url("../font/SFD-Heavy/SFD-Bold.ttf") format("truetype"), url("../font/SFD-Heavy/SFD-Bold.svg#SFD-Bold") format("svg"); }
@font-face {
  font-family: 'SFD-Medium';
  font-display: auto;
  src: url("../font/SFD-Medium/SFD-Medium.eot");
  src: url("../font/SFD-Medium/SFD-Medium.eot") format("embedded-opentype"), url("../font/SFD-Medium/SFD-Medium.woff2"), url("../font/SFD-Medium/SFD-Medium.woff") format("woff"), url("../font/SFD-Medium/SFD-Medium.ttf") format("truetype"), url("../font/SFD-Medium/SFD-Medium.svg#SFD-Medium") format("svg"); }
.picture {
  width: 580px;
  height: auto; }

.page {
  width: 700px;
  height: 385px;
  display: flex;
  padding-bottom: 50px; }
  .page-left {
    width: 55%;
    position: relative; }
    .page-left-image img {
      width: 385px;
      height: 385px; }
    .page-left-title {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10;
      display: flex;
      align-items: center; }
      .page-left-title img {
        width: 40px;
        height: auto;
        padding-right: 10px; }
      .page-left-title-title {
        color: #e1dfde;
        font-size: 28px;
        font-family: SFD-Bold; }
      .page-left-title-nguon {
        display: block;
        text-align: right;
        padding-left: 140px; }
        .page-left-title-nguon p {
          color: #e1dfde;
          font-family: SFD-Medium;
          font-size: 12px;
          font-weight: bold; }
    .page-left .bg {
      position: absolute;
      top: 235px;
      left: 0;
      z-index: 1;
      background-color: black;
      width: 385px;
      height: 150px;
      opacity: 0.5; }
    .page-left-content {
      position: absolute;
      top: 235px;
      left: 0;
      z-index: 2;
      width: 385px;
      height: 150px; }
      .page-left-content h1 {
        padding-top: 20px;
        padding-left: 30px;
        color: #e1dfde;
        font-family: SFD-Bold;
        font-size: 22px;
        line-height: 25px; }
        .page-left-content h1:before {
          top: 25px;
          display: block;
          width: 4px;
          height: 20px;
          position: absolute;
          left: 20px;
          background: #d72128;
          content: ''; }
  .page .scorl {
    width: 45%;
    border-right: 1px solid #ebebeb; }
    .page .scorl-header {
      height: 47px;
      width: 315px;
      background-color: #e5e5e8; }
      .page .scorl-header-logo {
        padding-top: 10px;
        padding-left: 15px; }
        .page .scorl-header-logo a span {
          display: block;
          width: 86px;
          height: 20px;
          background: url(../images/mutex-on-stream-logo.png) left top no-repeat;
          background-size: 86px; }
    .page .scorl-content {
      margin-left: 15px;
      height: 338px;
      overflow: auto;
      /*Make beautiful scorl*/
      /* width */
      /* Track */
      /* Handle */
      /* Handle on hover 
      &::-webkit-scrollbar-thumb:hover {
          background: #b30000; 
      } */ }
      .page .scorl-content::-webkit-scrollbar {
        width: 7px; }
      .page .scorl-content::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px white;
        border-radius: 10px; }
      .page .scorl-content::-webkit-scrollbar-thumb {
        background: #777777;
        border-radius: 10px; }
      .page .scorl-content-list {
        list-style: none; }
        .page .scorl-content-list-item {
          opacity: 0.6;
          padding-top: 15px;
          padding-bottom: 15px;
          display: flex;
          border-bottom: 1px solid #ebebeb; }
          .page .scorl-content-list-item:hover {
            opacity: 1;
            background-color: #f1f1f1; }
          .page .scorl-content-list-item-image {
            border: 0px;
            border-radius: 4px;
            padding-right: 15px; }
            .page .scorl-content-list-item-image img {
              border: 0px;
              border-radius: 4px;
              width: 60px;
              height: 60px; }
          .page .scorl-content-list-item-title {
            line-height: 18px;
            text-decoration: none;
            display: block; }
            .page .scorl-content-list-item-title span {
              color: black;
              font-size: 13px;
              font-family: SFD-Bold; }
          .page .scorl-content-list-item-time {
            display: block;
            color: #777777;
            font-size: 12px;
            line-height: 18px;
            font-family: SFD-Medium; }

/*# sourceMappingURL=playlist.css.map */
