* {
  margin: 0;
  padding: 0; }

.container {
  width: 296px;
  margin: 30px auto;
  background: #fff; }

.ads-160 {
  border: 2px solid #dbdbdb; }
  .ads-160 .adx__title {
    position: relative;
    padding: 13px 15px;
    background: #17ad42; }
    .ads-160 .adx__title h3 {
      font-size: 25px;
      font-family: tahoma;
      line-height: 35px;
      color: #fcfefd; }
    .ads-160 .adx__title .adxlogo a {
      width: 37px;
      height: 17px;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      background: url("../img/adxlogo-2.png") no-repeat top right; }
      .ads-160 .adx__title .adxlogo a #txtlogo {
        display: none;
        font-size: 13px;
        font-family: tahoma, arial;
        color: #9b9b9b;
        width: 74px;
        position: absolute;
        right: 25px;
        line-height: 17px; }
  .ads-160 .adx__content .main-content {
    border-bottom: 2px solid #f5f5f5;
    padding: 20px; }
    .ads-160 .adx__content .main-content img {
      width: 256px; }
    .ads-160 .adx__content .main-content h4 {
      color: #222;
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 25px;
      font-family: tahoma; }
    .ads-160 .adx__content .main-content p {
      color: #5e5e5e;
      font-family: arial;
      font-size: 17px;
      line-height: 22px; }
  .ads-160 .adx__content .bonus-content .list-group {
    list-style-type: none; }
    .ads-160 .adx__content .bonus-content .list-group li {
      padding: 20px;
      border-bottom: 2px solid #f5f5f5;
      color: #333;
      font-size: 18px;
      font-weight: bold;
      font-family: tahoma;
      line-height: 20px; }
  .ads-160 .adx__content .bonus-content .name {
    padding: 20px;
    color: #24b14b;
    font-size: 18px;
    font-weight: bold;
    font-family: tahoma; }
