$font-k14bold : SFD-Bold;
$font-k14: SFD-Medium;
.picture{
    width: 310px;
    height: auto;
}
.page-ad3{
    position: relative;
    margin: 20px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    width: 300px;
    height: auto;
    &-header{
        padding-left: 10px;
        color:#fff;
        background-color: #89060d;
        height: 40px;
        h1{
            padding-top: 5px;
            font-size: 14px;
            font-family: $font-k14bold;
            line-height: 30px;
        }
    }
    &-content{
        &-list{
            
            &-item{
            border-bottom: 1px solid #ebebeb;
            display: flex;
            float:left;
            padding: 10px;
            align-items: center;
                a{
                    img{
                        padding-right: 10px;
                        width: 65px;
                        height: 65px;
                    }
                }
                &-title{
                    font-size: 13px;
                    font-family: $font-k14bold;
                    color: #554e4e;
                }
            }
        }
    }
    &-footer{
        padding: 10px;
        display: flex;
        a{
            text-decoration: none;
            h1{
                font-size: 13px;
                font-family: $font-k14bold;
                color:#89060d ;
            }
        }
        span{
            color:#969696;
            font-size: 14px;
            padding-left: 2px;
        }
    }
    .ad-logo{
        
        text-decoration: none;
        &:hover{
            background: url("../images/adxlogo-2-hover.png")no-repeat top left;
            width: 120px;
            .txt-logo{
                box-sizing: content-box;
                display: block;
                font: 13px tahoma,arial;
                color: #9b9b9b;
                font-weight: 600;
                padding-left: 16px;
                text-decoration: none;
                line-height: 17px;
                text-decoration: none;
            }
        }
        width: 35px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background: url("../images/adxlogo-2.png") no-repeat top left ;
        .txt-logo{
            display: none;
            
        }
    }
}