$font-k14bold : SFD-Bold;
$font-k14: SFD-Medium;
.picture{
    padding-left: 50px;
    width: 170px;
    height: auto;
}
.page-ad2{
    position: relative;
    margin-bottom: 100px;
    margin-left: 50px;
    width:160px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    &-header{
        height: 45px;
        background-color: #17ad42;
        color:#fff;
        font-size: 15px;
        font-family: $font-k14bold;
        line-height: 20px;
        padding-left: 10px;
        padding-top: 10px;
    }
    &-content{
        padding: 10px;
        &-image{
            width: 140px;
            height: 140px;
            img{
                width: 140px;
                height: 140px;
            }
        }
        &-hot{
            padding-top: 10px ;
            padding-bottom: 10px;
            
            a{
                padding-bottom: 10px;
                text-decoration: none;}
            &-title{
                    font-size: 14px;
                    font-family: $font-k14bold;
                    color: black;
                    line-height: 18px;
                    padding-bottom: 10px;
                } 
            &-content{
                
                font-size: 13px;
                font-family: $font-k14;
                color:#555;
                line-height: 16px;
            }
        }
        &-ad{
            &-list{
                &-item{
                    border-top: 1px solid #ebebeb;
                    padding: 10px 0;
                    a{
                        text-decoration: none;
                        color: black;
                        font-family: $font-k14bold;
                        font-size: 13.5px;
                    }
                }
                .and{
                    color:  #17ad42!important;
                    font-size: 13px!important;
                    line-height: 13px!important;
                    padding: 5px 0!important;
                }
            }
        }
    }
}
.ad-logo{
        
    text-decoration: none;
    &:hover{
        background: url("../images//adxlogo-2-hover.png")no-repeat top left;
        width: 120px;
        .txt-logo{
            box-sizing: content-box;
            display: block;
            font: 13px tahoma,arial;
            color: #9b9b9b;
            font-weight: 600;
            padding-left: 16px;
            text-decoration: none;
            line-height: 17px;
            text-decoration: none;
        }
    }
    width: 35px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/adxlogo-2.png") no-repeat top left ;
    .txt-logo{
        display: none;
        
    }
}
