@font-face {
    font-family: 'SFD-Bold';
    font-display:auto;src: url('../font/SFD-Heavy/SFD-Bold.eot');
    src: url('../font/SFD-Heavy/SFD-Bold.eot') format('embedded-opentype'),url('../font/SFD-Heavy/SFD-Bold.woff2'),url('../font/SFD-Heavy/SFD-Bold.woff') format('woff'),url('../font/SFD-Heavy/SFD-Bold.ttf') format('truetype'),url('../font/SFD-Heavy/SFD-Bold.svg#SFD-Bold') format('svg');
}
@font-face {
    font-family: 'SFD-Medium';
    font-display:auto;src: url('../font/SFD-Medium/SFD-Medium.eot');
    src: url('../font/SFD-Medium/SFD-Medium.eot') format('embedded-opentype'),url('../font/SFD-Medium/SFD-Medium.woff2'),url('../font/SFD-Medium/SFD-Medium.woff') format('woff'),url('../font/SFD-Medium/SFD-Medium.ttf') format('truetype'),url('../font/SFD-Medium/SFD-Medium.svg#SFD-Medium') format('svg');
}
