.picture {
  width: 700px;
  height: auto; }

.page-gallery {
  margin-bottom: 50px;
  margin-left: 100px;
  width: 700px;
  border-top: 5px solid #fb6c27;
  border-radius: 4px;
  position: relative; }
  .page-gallery:before {
    position: absolute;
    z-index: 3;
    border-radius: 3px;
    width: 10%;
    bottom: 0;
    height: 100%;
    right: 0;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #222 100%); }
  .page-gallery-header {
    align-items: center;
    padding-left: 20px;
    height: 60px;
    line-height: 50px;
    background: #222; }
    .page-gallery-header-link {
      text-decoration: none;
      font-size: 30px;
      font-family: SFD-Bold;
      color: #fff; }
      .page-gallery-header-link span {
        color: #ff5c25; }
  .page-gallery-content {
    position: relative;
    width: 700px;
    background: #222;
    overflow: hidden; }
    .page-gallery-content-list {
      display: flex;
      float: left;
      height: 328px; }
      .page-gallery-content-list-item {
        margin-left: 20px;
        margin-bottom: 20px;
        background: #fff;
        width: 260px;
        border-radius: 4px; }
        .page-gallery-content-list-item-image {
          height: 165px;
          padding-bottom: 5px; }
          .page-gallery-content-list-item-image img {
            width: 100%; }
        .page-gallery-content-list-item-title {
          padding: 5px 12px 20px; }
          .page-gallery-content-list-item-title a {
            text-decoration: none;
            font-size: 18px;
            font-family: SFD-Bold;
            color: #222;
            line-height: 20px; }
  .page-gallery .button-next {
    background: url(../images/sprite-k14.20.png) -115px -137px no-repeat;
    background-color: rgba(251, 108, 39, 0.9);
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    position: absolute;
    top: 50px;
    width: 35px;
    height: 95px;
    z-index: 10;
    cursor: pointer;
    right: 0; }
    .page-gallery .button-next:hover {
      background-color: #fb6c27; }
  .page-gallery .button-prev {
    background: url(../images/sprite-k14.20.png) -70px -137px no-repeat;
    background-color: rgba(251, 108, 39, 0.9);
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    position: absolute;
    top: 50px;
    width: 35px;
    height: 95px;
    z-index: 10;
    cursor: pointer; }
    .page-gallery .button-prev:hover {
      background-color: #fb6c27; }
  .page-gallery-button {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 10; }

.icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #414141;
  opacity: .2;
  margin: 0 6px; }

.icon1 {
  background: #fb6c27 !important;
  opacity: 1 !important; }

.button1 {
  background-color: black !important;
  opacity: 0.6; }

/*# sourceMappingURL=gallery.css.map */
