$font-k14bold : SFD-Bold;
$font-k14: SFD-Medium;
$black: #222;
$red: #e02b2b;
.picture{
    width: 700px;
    height: auto;
}
.page-step10{
    position: relative;
    margin-bottom: 50px;
    margin-left: 100px;
    width: 700px;
    background: $black;
    border-top: 5px solid $red ;
    border-radius: 4px;
    &-header{
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        &-logo{
            img{
            width: 40px;
            height: 40px;}
        }
        &-title{
            padding-left: 5px;
            text-decoration: none;
            color: #fefefe;
            font-family: $font-k14bold;
            font-size: 24px;
        }
    }
    &-content{
        overflow: hidden;
        position: relative;
        &-list{
            display: flex;
            &-item{
                width: 260px;
                padding-left: 20px;
                padding-bottom: 20px;
                a{

                    img{ 
                        width: 260px;
                        border-radius: 4px;
                    }
                }

            }
        }
    }
    .button-next{
        &:hover{
            opacity: 1;    
            }
        background: url(../images/sprite-k14.20.png) -115px -137px no-repeat;
        background-color: $red;
        opacity: 0.9;
        border-top-left-radius: 3px;
        -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        border-bottom-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        position: absolute;
        top: 100px;
        width: 35px;
        height: 95px;
        z-index: 10;
        cursor: pointer;
        right: 0;
    }
    .button-prev{
        &:hover{
            opacity: 1;    
        }
        background: url(../images/sprite-k14.20.png) -70px -137px no-repeat;
        background-color: $red;
        opacity: 0.9;
        border-top-right-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-bottom-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        position: absolute;
        top: 100px;
        width: 35px;
        height: 95px;
        z-index: 10;
        cursor: pointer;
        left: -35px;
    }
    &-button{
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 10;
    }
}
.icon{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
   background: #414141;
    opacity: .2;
    margin: 0 6px;
}
.icon1{
    background :rgba(251,108,39,1)!important;
    opacity: 1!important ;
}
.button1{
    background-color:black!important;
      opacity : 0.6!important;
    }
.dp-button{
    left: 0!important;
}